.contentContainer {
    @apply relative overflow-hidden
}
.contentContainer .pikachuImg {
    @apply hidden
}
.contentContainer .pokeballContainer {
    @apply absolute -right-5 -top-16 opacity-20
}
.contentContainer .upLayerContainer {
    @apply rounded-b-3xl pt-16 pb-7 p-6
}
.contentContainer .upLayerContainer .titleContainer {
    @apply pt-10
}
.contentContainer .upLayerContainer .titleContainer h2 {
    @apply text-3xl font-bold
}
.contentContainer .upLayerContainer .inputContainer {
    @apply w-full bg-transparent text-center rounded-full p-0 mt-8 relative
}
.contentContainer .upLayerContainer .inputContainer .searchIcon {
    @apply w-5 h-5 absolute top-2.5 left-3 mt-px
}
.contentContainer .upLayerContainer .inputContainer input {
    @apply w-full py-2 pr-0 pl-9 rounded-full bg-porcelain outline-none
}
.contentContainer .upLayerContainer .gridContainer {
    @apply grid grid-cols-2 gap-3 mt-10 max-h-72
}
.contentContainer .upLayerContainer .gridContainer a.cardOption {
    @apply flex items-center p-4 w-full h-20 rounded-3xl relative transition-all duration-200 ease-in-out cursor-pointer overflow-hidden opacity-80 hover:opacity-100
}
.contentContainer .upLayerContainer .gridContainer a.cardOption .rectangleContainer {
    @apply absolute top-0 left-0 opacity-20
}
.contentContainer .upLayerContainer .gridContainer a.cardOption h4 {
    @apply text-white-default text-base font-bold
}
.contentContainer .upLayerContainer .gridContainer a.cardOption .cardPokeball {
    @apply absolute -right-2 opacity-40
}
.contentContainer .upLayerContainer .themeButtonContainer {
    @apply flex justify-end mt-6
}
.contentContainer .upLayerContainer .themeButtonContainer .themeButton {
    @apply w-10 h-10 rounded-full p-1.5 shadow-sm outline-none
}
.contentContainer .upLayerContainer .themeButtonContainer .themeButton .themeButtonIcon {
    @apply text-ebony-clay
}
.contentContainer .newsContainer {
    @apply py-8 p-6
}
.contentContainer .newsContainer .newsTitle {
    @apply flex justify-between
}
.contentContainer .newsContainer .newsTitle h3 {
    @apply text-lg font-bold mb-2
}
.contentContainer .newsContainer .newsTitle a {
    @apply opacity-80 cursor-pointer hover:opacity-100 transition-all duration-200 ease-in-out
}
.contentContainer .newsContainer .newsItem {
    @apply w-full flex items-center justify-between mt-4 cursor-pointer transition-all duration-200 ease-out hover:opacity-75
}
.contentContainer .newsContainer .newsItem h6 {
    @apply font-bold text-sm
}
.contentContainer .newsContainer .newsItem span {
    @apply w-full block text-sm
}
.contentContainer .newsContainer .newsItem .newsDate {
    @apply text-xs opacity-60
}

@layer utilities {
    .contentContainer {
        .pokeballContainer {
            > div {
                animation-duration: 5000ms !important;
            }
        }
    }
    @media (min-width: 992px) {
        .contentContainer {
            .pikachuImg {
                width: 32rem;
            }
        }
    }
}

@screen lg {
    .contentContainer {
        @apply flex justify-center items-center h-screen bg-white-default
    }
    .contentContainer .pikachuImg {
        @apply absolute -left-24 -bottom-4 block z-50
    }
    .contentContainer .upLayerContainer {
        @apply w-1/2 bg-transparent pt-0
    }
    .contentContainer .upLayerContainer .titleContainer {
        @apply pt-0
    }
    .contentContainer .upLayerContainer .gridContainer a.cardOption {
        @apply h-28
    }
    .contentContainer .upLayerContainer .themeButtonContainer {
        @apply absolute right-4 bottom-4
    }
    .contentContainer .newsContainer {
        @apply hidden
    }
}